<style>
  .search-btn {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;


  }
  .search-btn i {
    display: inline;
    margin-right: 6px;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: white;
  }
  .searchbar {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand text-" href="/listings"
      ><i class="fa-solid fa-compass"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-link" aria-current="page" href="/">Home</a> -->
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form
          class="d-flex"
          id="search-form"
          role="search"
          method="get"
          action="/listings"
        >
          <input
            class="form-control me-2 searchbar"
            type="search"
            name="search"
            id="search-input"
            value="<%= search %>"
            placeholder="Search destination"
          />
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
        <div id="autocomplete-container" class="autocomplete-container"></div>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Wanderlust your home</a>
        <% if(!currUser) {%>
        <a class="nav-link" aria-current="page" href="/signup"
          ><b>Sign up</b></a
        >
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %> <% if(currUser){ %>
        <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>


<!-- For small screen -->
<nav class="navbar bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-compass"></i>
    </a>
    <div class="hamburger-icon" id="hamburger-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="menu-overlay" id="menu-overlay">
      <div class="cross-icon" id="cross-icon">
        <span></span>
        <span></span>
      </div>

      <div class="menu-content">
 <div class="navbar-nav ms-auto my-5">
          <form
            class="d-flex"
            id="search-form"
            role="search"
            method="get"
            action="/listings"
          >
            <input
              class="form-control searchbar mx-1"
              style="padding:0.4rem 0.2rem 0.4rem 0.8rem; margin-left: 10px"
              type="search"
              name="search"
              id="search-input"
              value="<%= search %>"
              placeholder="Search destination"
            />
            <button
              class="btn search-btn mx-1"
              type="submit"
              style="padding: 0 0.4rem 0 0.4rem"
            >
              <i
                class="fa-solid fa-magnifying-glass"
                style="font-size: 1rem"
              ></i
              >Search
            </button>
          </form>
        </div>
        <a class="nav-link" href="/listings">Explore</a>
        <a class="nav-link" href="/listings/new">Wanderlust your home</a>
        <% if(!currUser) {%>
        <a class="nav-link" href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %> <% if(currUser){ %>
        <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
       
      </div>
    </div>
  </div>
</nav>

