<% layout('/layouts/boilerplate') %>

<div class="row mt-3 mb-2">
  <h2 class="col-6 offset-5">Login</h2>
  <div class="col-8 offset-2">
    <form action="/login" method="post" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Enter Username</label>
        <input type="username" name="username" class="form-control" required />
        <div class="invalid-feedback">Please Enter your Username</div>
      </div>

      <!-- <div class="mb-3">
        <label for="email" class="form-label">Enter Email Id</label>
        <input type="email" name="email" class="form-control" required />
        <div class="invalid-feedback">Please Enter your email</div>
      </div> -->

      <div class="mb-3">
        <label for="password" class="form-label">Enter Your Password</label>
        <input type="password" name="password" class="form-control" required />
        <div class="invalid-feedback">Please Enter Your Password</div>
      </div>
      <button class="btn btn-success">Login</button>
    </form>
  </div>
</div>
